#nav-border,
#main {
    margin-left: auto;
    margin-right: auto;
    width: min(40rem, 90%);
    margin-bottom: 1em;
}

#nav-border {
    margin-top: 1em;
}

body {
    margin: 0px;
    color: var(--main-color);
    background-color: var(--bg-color);
}

h1 {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    height: min(2vh, 10px);
    font-size: min(2vh, 10px);
    width: 100%;

    padding: 0.5em;
    margin: 0px;

    background: var(--light-gray);
}

.tag-btn,
button {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;
}

.tag-btn {
    border: 1px solid var(--main-color);
}

button {
    border: none;
    background-color: var(--light-gray);
}

.tag-btn:hover,
button:hover {
    color: var(--bg-color);
    background-color: var(--middle-color);
    cursor: pointer;
}

img {
    width: 100%;
}

time {
    float: right;
}

#change-theme-button {
    float: right;
}

.right-text {
    float: right;
}

.centered-image {
    border-radius: 1em;
    border: 2px solid var(--main-color);

    margin-right: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

table,
th,
td {
    border: 1px solid var(--main-color);
    border-collapse: collapse;
    padding: 0.2em;
}