<table>
  <thead>
    <tr>
      <th>Update CV on site</th>
      <th>Update CV on Drive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2" style="text-align: center">Open Overleaf</td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center">Edit file in Overleaf</td>
    </tr>
    <tr>
      <td>Open IDE</td>
      <td>Delete last CV file from Downloads</td>
    </tr>
    <tr>
      <td>Copy <code>main.tex</code> from Overleaf to site</td>
      <td>Load file from Overleaf</td>
    </tr>
    <tr>
      <td>Run script for CV transpiling</td>
      <td>Open Google Drive</td>
    </tr>
    <tr>
      <td>Push changes to site</td>
      <td>Upload file to Drive</td>
    </tr>
  </tbody>
</table>