<!DOCTYPE html>
<html>

<head>
    <title>Portfolio | llesha</title>
    <link rel="icon" type="image/svg+xml" href="/svg/icon.svg">
    <style>
        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }

        .panel {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
            padding: 5%;
        }

        html {
            font-family: monospace;
            font-size: large;
        }

        .image-container {
            width: 35%;
        }

        h3 {
            margin-bottom: 0px;
        }

        p {
            margin-top: 0px;
        }
    </style>
</head>

<body>
    <h2 style="text-align: center;">Портфолио</h2>
    <div id="main">
        <div class="row">
            <div class="panel">
                <div class="image-container">
                    <svg viewBox="0 0 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <clipPath id="cut-off-bottom">
                                <ellipse cx="5" cy="6.7" rx="3.5" ry="2" />
                            </clipPath>
                            <clipPath id="cut-off">
                                <ellipse cx="5" cy="4.9" rx="3.5" ry="2" />
                            </clipPath>
                        </defs>
                        <circle cx="5" cy="5" r="5" fill="#3896d4" />
                        <ellipse cx="5" cy="5.4" rx="4" ry="3" fill="snow" clip-path="url(#cut-off)" />
                        <rect x="1.9" y="5.8" width="7" height="1.5" fill="#3896d4" />
                        <ellipse cx="5" cy="4.9" rx="4" ry="1.5" fill="#000000" clip-path="url(#cut-off-bottom)" />
                        <!-- <polygon points="5 0.8, 5.8 2.5, 4.2,2.5" fill="#e5b527"/>
                        <polygon points="5 0.8, 5.8 2.5, 4.2,2.5" fill="#e5b527" transform="rotate(30 5 7)"/>
                        <polygon points="5 0.8, 5.8 2.5, 4.2,2.5" fill="#e5b527" transform="rotate(-30 5 7)"/> -->

                        <!-- <rect x="3" y="6.2" width="0.5" height="1" fill="#e5b527" rx="0.5" ry="0.5"/>
                        <rect x="3.7" y="6.2" width="0.5" height="2.5" fill="#e5b527" rx="0.5" ry="0.5"/>
                        <rect x="4.4" y="6.2" width="0.5" height="1" fill="#e5b527" rx="0.5" ry="0.5"/>
                        <rect x="5.1" y="6.2" width="0.5" height="2.5" fill="#e5b527" rx="0.5" ry="0.5"/>
                        <rect x="5.8" y="6.2" width="0.5" height="1" fill="#e5b527" rx="0.5" ry="0.5"/>
                        <rect x="6.5" y="6.2" width="0.5" height="2.5" fill="#e5b527" rx="0.5" ry="0.5"/>
                        <rect x="7.2" y="6.2" width="0.5" height="1" fill="#e5b527" rx="0.5" ry="0.5"/> -->
                    </svg>
                </div>
                <h3>Аватарка Waterstop.</h3>
                <p>В 2020 году я начал делать игры, постить репозитории в GitHub, нужно было придумать имя и аватар.
                    Меня вдохновила пробка для ванны, потому что она <a
                        href="https://vk.com/water_stop_channel?w=wall-196680481_29">выглядит как знак «Стоп»</a> и
                    останавливает воду. Позже я сменил ник на llesha.</p>
            </div>
            <div class="panel">
                <div class="image-container">
                    <svg viewBox="0 0 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="7" height="4" fill="#ffffff" stroke="#222222" stroke-width="0.3" />
                        <path d="M 1 5 h 7 l 2 2 h -7 l -2 -2" fill="#ffffff" stroke="#222222" stroke-width="0.3">
                        </path>
                        <text x="44%" y="32%" dominant-baseline="middle" text-anchor="middle" font-size="3"
                            font-family="Fira Code">GC</text>
                        <line x1="1" y1="2" x2="2.1" y2="2" stroke-width="0.3" stroke="#222222"></line>
                        <line x1="2" y1="2.1" x2="2" y2="1" stroke-width="0.3" stroke="#222222"></line>
                        <line x1="6.9" y1="4" x2="8" y2="4" stroke-width="0.3" stroke="#222222"></line>
                        <line x1="7" y1="5" x2="7" y2="3.9" stroke-width="0.3" stroke="#222222"></line>
                        <path d="M 3 5 A 1 1 0 0 1 2 6" fill="#ffffff" stroke="#222222" stroke-width="0.3"></path>
                        <path d="M 8 7 A 1 1 0 0 1 9 6 " fill="#ffffff" stroke="#222222" stroke-width="0.3"></path>
                    </svg>
                </div>
                <h3>Логотип GeomC</h3>
                <p>GeomC — система, где решения задачи по геометрии проверяются автоматически. Есть одно условие:
                    решения нужно писать на специальном языке, похожем на язык программирования.</p>
            </div>
        </div>
        <div class="row">
            <div class="panel">
                <div class="image-container">
                    <svg viewBox="130 160 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <line x1="200" y1="300" x2="200" y2="290" stroke="#98FB98" stroke-width="2" />
                        <line x1="202" y1="300" x2="202" y2="290" stroke="#2E8B57" stroke-width="2" />
                        <line x1="200" y1="290" x2="199.65095187121986" y2="270.00304609687277" stroke="#98FB98"
                            stroke-width="2" />
                        <line x1="202" y1="290" x2="201.65095187121986" y2="270.00304609687277" stroke="#2E8B57"
                            stroke-width="2" />
                        <line x1="199.65095187121986" y1="270.00304609687277" x2="211.96418137876512"
                            y2="254.2428310255447" stroke="#98FB98" stroke-width="2" />
                        <path transform-origin="199.651 270.003" transform="rotate(145) "
                            d="M199.651, 270.003 c7.8604, -13.6884 7.8604, -13.6884 0, -28.6388 Z" stroke="none"
                            fill="#2E8B57" />
                        <path transform-origin="199.651 270.003" transform="rotate(145) "
                            d="M199.651, 270.003 c-11.9159, -17.7881 -11.9159, -17.7881 0, -28.6388 Z" stroke="none"
                            fill="#98FB98" />
                        <line x1="201.65095187121986" y1="270.00304609687277" x2="213.96418137876512"
                            y2="254.2428310255447" stroke="#2E8B57" stroke-width="2" />
                        <line x1="211.96418137876512" y1="254.2428310255447" x2="197.82204575393743"
                            y2="240.10069540291047" stroke="#98FB98" stroke-width="2" />
                        <path transform-origin="211.9642 254.2428" transform="rotate(114) "
                            d="M211.9642, 254.2428 c17.3521, -10.2105 17.3521, -10.2105 0, -33.3194 Z" stroke="none"
                            fill="#2E8B57" />
                        <path transform-origin="211.9642 254.2428" transform="rotate(114) "
                            d="M211.9642, 254.2428 c-13.3927, -21.6705 -13.3927, -21.6705 0, -33.3194 Z" stroke="none"
                            fill="#98FB98" />
                        <line x1="213.96418137876512" y1="254.2428310255447" x2="199.82204575393743"
                            y2="240.10069540291047" stroke="#2E8B57" stroke-width="2" />
                        <line x1="197.82204575393743" y1="240.10069540291047" x2="174.3764765456784"
                            y2="240.56202529705234" stroke="#98FB98" stroke-width="2" />
                        <line x1="199.82204575393743" y1="240.10069540291047" x2="176.3764765456784"
                            y2="240.56202529705234" stroke="#2E8B57" stroke-width="2" />
                        <g transform-origin="174.3765 240.562" transform="rotate(80) scale(0.649 1) ">
                            <path d="M183.6129, 243.0034 C192.3765, 240.562 190.5939, 248.3719 182.6162, 247.3705 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M183.6129, 246.1206 C185.5993, 254.635 178.3819, 258.1107 179.5771, 248.0642 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M181.1758, 248.0642 C170.3711, 258.1107 163.1537, 254.635 177.14, 246.1206 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M178.1368, 247.3705 C158.159, 248.3719 156.3765, 240.562 177.14, 243.0034 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M176.7843, 244.562 C158.159, 232.7521 163.1537, 226.4891 179.5771, 241.0599 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M178.1368, 241.7535 C170.3711, 223.0133 178.3819, 223.0133 182.6162, 241.7535 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M181.1758, 241.0599 C185.5993, 226.4891 190.5939, 232.7521 183.9687, 244.562 Z"
                                stroke="none" fill="#BC244C" />

                            <polygon
                                points="183.9687 244.562, 183.6129 246.1206, 182.6162 247.3705, 181.1758 248.0642, 179.5771 248.0642, 178.1368 247.3705, 177.14 246.1206, 176.7843 244.562, 177.14 243.0034, 178.1368 241.7535, 179.5771 241.0599, 181.1758 241.0599, 182.6162 241.7535, 183.6129 243.0034"
                                stroke="none" fill="#00008B" />
                        </g>
                        <line x1="197.82204575393743" y1="240.10069540291047" x2="198.28337564444286"
                            y2="216.65512619457988" stroke="#98FB98" stroke-width="2" />
                        <line x1="199.82204575393743" y1="240.10069540291047" x2="200.28337564444286"
                            y2="216.65512619457988" stroke="#2E8B57" stroke-width="2" />
                        <line x1="198.28337564444286" y1="216.65512619457988" x2="181.11179138082787"
                            y2="196.278354503913" stroke="#98FB98" stroke-width="2" />
                        <path transform-origin="198.2834 216.6551" transform="rotate(71) "
                            d="M198.2834, 216.6551 c5.0626, -14.8789 5.0626, -14.8789 0, -35.6556 Z" stroke="none"
                            fill="#2E8B57" />
                        <path transform-origin="198.2834 216.6551" transform="rotate(71) "
                            d="M198.2834, 216.6551 c-17.0036, -13.3081 -17.0036, -13.3081 0, -35.6556 Z" stroke="none"
                            fill="#98FB98" />
                        <line x1="200.28337564444286" y1="216.65512619457988" x2="183.11179138082787"
                            y2="196.278354503913" stroke="#2E8B57" stroke-width="2" />
                        <g transform-origin="181.1118 196.2784" transform="rotate(82) scale(0.878 1) ">
                            <path d="M185.1684, 197.8063 C198.1118, 196.2784 196.4283, 203.6544 184.2271, 201.9308 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M185.1684, 200.7504 C191.7111, 209.5695 184.8946, 212.8521 181.3569, 202.5859 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M182.8667, 202.5859 C177.3289, 212.8521 170.5125, 209.5695 179.0551, 200.7504 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M179.9965, 201.9308 C165.7953, 203.6544 164.1118, 196.2784 179.0551, 197.8063 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M178.7192, 199.2784 C165.7953, 188.9023 170.5125, 182.9872 181.3569, 195.9708 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M179.9965, 196.6259 C177.3289, 179.7046 184.8946, 179.7046 184.2271, 196.6259 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M182.8667, 195.9708 C191.7111, 182.9872 196.4283, 188.9023 185.5044, 199.2784 Z"
                                stroke="none" fill="#BC244C" />

                            <polygon
                                points="185.5044 199.2784, 185.1684 200.7504, 184.2271 201.9308, 182.8667 202.5859, 181.3569 202.5859, 179.9965 201.9308, 179.0551 200.7504, 178.7192 199.2784, 179.0551 197.8063, 179.9965 196.6259, 181.3569 195.9708, 182.8667 195.9708, 184.2271 196.6259, 185.1684 197.8063"
                                stroke="none" fill="#00008B" />
                        </g>
                        <line x1="198.28337564444286" y1="216.65512619457988" x2="216.24325063144354"
                            y2="196.96962337887055" stroke="#98FB98" stroke-width="2" />
                        <line x1="200.28337564444286" y1="216.65512619457988" x2="218.24325063144354"
                            y2="196.96962337887055" stroke="#2E8B57" stroke-width="2" />
                        <g transform-origin="216.2433 196.9696" transform="rotate(71) scale(0.748 1) ">
                            <path d="M228.8393, 197.2378 C236.2433, 196.9696 234.2626, 205.6473 227.7318, 202.0902 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M228.8393, 200.7014 C228.713, 212.6063 220.6937, 216.4682 224.3551, 202.8609 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M226.1314, 202.8609 C211.7928, 216.4682 203.7735, 212.6063 221.6472, 200.7014 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M222.7547, 202.0902 C198.2239, 205.6473 196.2433, 196.9696 221.6472, 197.2378 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M221.2519, 198.9696 C198.2239, 188.2919 203.7735, 181.333 224.3551, 195.0784 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M222.7547, 195.8491 C211.7928, 177.4711 220.6937, 177.4711 227.7318, 195.8491 Z"
                                stroke="none" fill="#BC244C" />
                            <path d="M226.1314, 195.0784 C228.713, 181.333 234.2626, 188.2919 229.2346, 198.9696 Z"
                                stroke="none" fill="#BC244C" />

                            <polygon
                                points="229.2346 198.9696, 228.8393 200.7014, 227.7318 202.0902, 226.1314 202.8609, 224.3551 202.8609, 222.7547 202.0902, 221.6472 200.7014, 221.2519 198.9696, 221.6472 197.2378, 222.7547 195.8491, 224.3551 195.0784, 226.1314 195.0784, 227.7318 195.8491, 228.8393 197.2378"
                                stroke="none" fill="#00008B" />
                        </g>
                    </svg>
                </div>
                <h3>Сгенерированный цветок</h3>
                <p>Цветок, сделанный <a href="https://llesha.github.io/regina-ide/"> переработанным упрощенным
                        генератором растений</a> (для запуска нажать на зеленый треугольник сверху).
                    <a href="https://pleaseworkplant.azurewebsites.net/">Старая версия</a> сделана в 2020 году.
                </p>
            </div>
            <div class="panel">
                <div class="image-container">
                    <img src="/images/finderDemo.gif" alt="Generated faces" style="width:100%;height:100%;">
                </div>
                <h3>Генератор лиц</h3>
                <p>Создан для игры подобной «Papers, Please». Лица составляются из нескольких отдельно нарисованных
                    носов, глаз, ртов и волос
                <div class=""></div>
                </p>
            </div>
        </div>
        <div class="row">

            <div class="panel">
                <div class="image-container">
                    <img src="/images/itch.png" alt="Generated faces" style="width:100%;height:100%;">
                </div>
                <h3>Спрайты для игры Sliding Platformer</h3>
                <p>Спрайты и анимации сделаны в стиле pixel-art, а затем сглажены с помощью векторизации. Посмотреть на
                    них можно в самой <a href="https://llesha.itch.io/sliding-platformer">игре</a>, однако сайт itch.io
                    заблокирован в РФ.</p>
            </div>
            <div class="panel">
                <div class="image-container">
                </div>
                <h3>Несколько сайтов</h3>
                <p>
                <ul>
                    <li><a href="https://llesha.github.io/regina-ide/">Online-IDE</a> для языка Regina,</li>
                    <li><a href="https://llesha.github.io/CrateGram/">CrateGram</a> — программа с задачами по
                        PEG-парсерам,</li>
                    <li><a href="https://llesha.github.io/shallow-villain-traits/">Shallow villain traits</a>. Что-то
                        вроде опроса,
                        который доказывает что злодеи в книгах и фильмах поверхностны.</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</body>

</html>