<div id="nav-border" class="container">
  <nav id="nav" class="nav justify-content-center">
    <div style="text-align: center; font-size: larger;">
      {{ range .Site.Menus.main }}
      {{ $text := print .Name | safeHTML }}
      <a class="nav-link" href="{{ .URL }}">{{ $text }}</a>
      {{ end }}
    </div>
    <button id="change-theme-button">dark</button>
    <div style="justify-content: center;">
      <a href="https://github.com/llesha">GitHub</a>
      <a href="https://stackoverflow.com/users/19933941/llesha">StackOverflow</a>
      <a href="https://www.linkedin.com/in/llesha">LinkedIn</a>
    </div>
  </nav>
</div>